:root {
    --dark-grey: #353535;
    --turquois: #3C6E71;
    --white: #ffffff;
    --light-grey: #d9d9d9;
    --blue: #284B63;
    --accent: #ff9f1c;
}


/* ----------------------- */
.App {
    height: 100%;
    display: grid;
    place-items: center;
}

/*  Landing component */

.landing {
    position: relative;
    width: 800px;
    height: 900px;

    background: var(--light-grey);
    border: 1px solid black;
}

section {
    height: 50%;
}

.sectionLandingTop {
    display: grid;
    place-items: center;
}

.sectionLandingBot {
    position: absolute;
    bottom: 0;

    width: 100%;


    display: grid;
    place-items: center;

    transition: all .5s ease;
}

.toggled {
    width: 100%;
    height: 100%;
}

.newUserBtn {
    font-size: 1.4em;
    padding: 5px;
    border-radius: 4px;
}
/* Register */

.registerContainer {
    display: grid;
    place-items: center;
}

.registerForm {
    position: relative;
    width: 500px;
    height: 700px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;
}

.registerForm > input {
    width: 400px;
    margin: 20px;
    font-size: 1.2em;
    padding: 4px;
}

.registerSubmit {
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    font-size: 2em;
}

/*  Login component  */

#loginForm {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 40px 40px;
    grid-template-areas: 
        ". . . e e e e s s . . ."
        ". . . p p p p s s . . .";
}

#emailInput{
    grid-area: e;
}

#passwordInput {
    grid-area: p;
}

#submitBtn {
    grid-area: s;
}


/* Title component within landing */

.titleAndInfo {
    height: 100%;
    width: 100%;
    text-align: center;

    transition: 0.3s;
}

.titleAndInfo > h1 {
    font-size: 5em;
    letter-spacing: 5px;
}

.titleAndInfo > h1 > span {
    color: var(--accent)
}

.infoIcon {
    flex-grow: 1;
}

.landingInfoIcon:hover {
    color: var(--turquois);
}

.toggled-titleInfo {
    overflow: hidden;
    background: var(--blue);
    position: absolute;

    padding-top: 20%;
}

.appInfo {
    display: none;
    font-size: 1.5em;
}

.toggled-appInfo {
    padding: 0 10%;
    padding-top: 15%;
    display: block;
}

/*  Dashboard -----  */

.modal {
    width: 100%;
    height: 100%;
    position: absolute;

    display: grid;
    place-items: center;

    backdrop-filter: blur(7px);
}

.modalForm {
    height: 40%;
    width: 60%;
    border-radius: 5px;
    background: #999;
    margin-top: -200px;

    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.modalX {
    position: absolute;
    left: 0;
    top: 0;
    margin: 10px;
    cursor: pointer;
}

.modalForm > label {
    text-align: center;
}

.modalSubmit {
    width: auto;
    padding: 10px;
    border-radius: 5px;
    font-size: 2em;
}

.dashboardContainer {
    position: relative;
    width: 800px;
    height: 900px;

    background: var(--light-grey);
    border: 1px solid black;
}

.dashboardBanner {
    border-bottom: 3px solid var(--turquois);
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 40px 40px 40px;
    grid-template-areas: 
        "ta . . . . n "
        ". . b b . ."
        "s s . . . .";
}

.dashboardBanner > h3 {
    grid-area: ta;
    margin: 2px;
}

.dashboardBanner > h3 > span{
    font: 1.2em;
    color: var(--accent);
    margin: 2px;
}

.dashboardBanner > h2 {
    grid-area: n;
}

.dashboardBanner > button {
    grid-area: b;
}

.dashboardFilter {
    list-style-type: none;

    display: flex;
    justify-content: center;
}

.dashboardFilter li {
    margin: 6px 1px;
    padding: 0 3px;
    border: 1px solid black;
    background: #999;

    width: 100px;
    text-align: center;

    cursor: pointer;
}

.listToggle {
    grid-area: s;
    display: flex;
}

.listToggle > div {
    cursor: pointer;

    border: 1px solid black;
    justify-content: center;
    align-content: center;
}

.listToggle > div > input{
    visibility:hidden;
    cursor: pointer;
}

.listToggle > div > input:checked {
    background: var(--turquois)
}

.itemList {
    width: 100%;

    padding: 10px;

    display: flex;
    flex-direction: column;
}

.taskContainer {
    position: relative;
}

.task {
    background: var(--light-grey);

    display: flex;
    margin: 2px;
    border: 1px solid black;
}

.task > h3 {
    align-self: center;

    padding: 4px;

    text-align: center;

    flex-basis: 0;
    flex-grow: 1;
}

.task > button {
    margin: 7px;
    padding: 5px;
}

.task > button:hover {
    background: var(--light-grey);
}

